* {
    box-sizing: border-box;
  }

body {
    width: 1000px;
    margin: 0px auto;
    color: black;
    background-color: #faf0e6;
    font-family: 'Alata', sans-serif;
}

/*text-styles*/
h1 {
    text-align: center;
    margin: 35px auto;
    padding: 10px;
    font-size: 3em;
    text-transform: uppercase;
    border-bottom: 5px solid salmon
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #263e21;
}

h3 {
    font-size: 1em;
    margin: 15px 0px 5px 0px;
}

p {
    text-align: left;
    font-size: 1em;
    margin: 0 auto;
}



  

/*NAVIGATION*/
.nav {
    width: 3%;
    height: 100%;
    background-color:#b1bca0;
    text-align: center;

}

.nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.nav li {
    padding: 10px 0px 10px 0px;
}

.nav a {
    color: #263e21;
}



/*link-styles*/
a {
    color: #263e21;
}

a:hover {
    color: black;
}

/*header-styles*/
.header {
    margin-top: 10px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 5px 5px 10px;
    object-fit: cover;
}

.header h1 {
    width: 75%;
    float: left;
}

/*aside*/
#aside-interests, #aside-progress, #aside-contact {
    background-color: #b1bca0;
    padding: 20px;
    margin: 10px;

}

#aside-contact {
    background-color: #faf0e6;
    border: 3px solid #b1bca0;
}



/*progress*/
.progress-element {
    display: inline-block;
    position: relative;
    accent-color: salmon;
}


#progress-bar-1, #progress-bar-2 ,#progress-bar-3, #progress-bar-4, #progress-bar-5 {
    position: relative;
    display: inline;
}

/*portfolio-gallery*/
.row {
    margin: 8px -16px;
  }
  
.row, .column {
    padding: 8px;
  }
  
.column {
    float: left;
    width: 33%;
  }
  
.content {
    background-color: white;
    padding: 10px;
    height: 200px;
  }

/*banner-image*/
#banner-footer {
    padding-top: 50px;
}

/*footer*/
footer {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #263e21;
}

footer p {
    text-align: center;
    color: white;
    padding: 5px;
}